body {
    margin: 0;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: #40514e;
}

ul {
    list-style-type: none;
   }


.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;

}

.middle-container {
    margin: 0px auto;
}

.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
}

.nav-bar {
    scroll-behavior: smooth;
}

p {
    line-height: 2;
}

h1 {
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    color: #66bfbf;
    line-height: 2;
}
 
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
    animation: top-cloud 35s infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes top-cloud {
    from {left: 0px;}
    to {left: 100%;}
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
    animation: bottom-cloud 12s infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes bottom-cloud {
    from {left: 250px;}
    to {left: 0%;}
}

.intro {
    width: 30%;
    margin: auto auto 10px auto;
}

.edu-img1{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.edu-img2 {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.edu-row1 {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.edu-row2{
    width: 50%;
    margin: 100px auto;
    text-align: right;
}

.description1 {
    clear: left;
}

.profile {
    margin: 0px auto 50px auto;
}

.coder {
    width: 15%;
    margin: 100px auto 0px auto;
}

hr {
    border: dotted #bbbdbd 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.skills-img {
    width: 15%;
    padding: auto 20px;
}

.skills-row {
    width: 50%;
    margin: 100px auto;
    align-items: center;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Source Code Pro', monospace;
    color: #ffffff;
    font-size: px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .contact-me {
    margin: 50px auto 100px auto;
  }
 a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }

  a:hover {
    color: #eaf6f6;
  }

  .copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0px;
  }

  .secret {
    margin: 0;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: #40514e;
  }